@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.turning {
  color: #37b45a;
  animation: blink 1.2s linear infinite;
}
